* {
  box-sizing: border-box;
}

header {
  background-color: blue;
  width: 100%;
}

header h1 {
  color: white;
}

.top-wrapper {
  border: 1px solid black;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.logo p {
  float: left;
  background-color: yellow;
  border-radius: 2px;
}

.logo h2 {
  text-align: center;
  clear: left;

}

.toc-wrapper {
  border: 1px solid black;
}

.toc-wrapper p {
  font-size: 18px;
}

.toc-wrapeer li {
  text-align: center;
}

footer {
  background-color: blue;
  text-align: center; 
}
