* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

header {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #2b5f97;
}

header h1 {
  margin:  0px;
}


.main {
  max-width: 1170px;
  width: 100%;
  margin: 0;
}

.top-wrapper .toc-wrapper .main-wrapper {
  padding: 15px;
}

.top-wrapper {
  background-image: url(top.jpeg);
  background-size: cover;
}

.container {
  border: 1px solid black;
  border-radius:  5px;
  padding: 20px 10px;
  margin:  10px;
}

.icon {
  float: left;
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.logo h2 {
  clear: left;
  text-align: center;
}

.abstract {
  border-top: 1px solid black;
  text-align: center;
}

.toc-wrapper li {
  margin-left: 10px;
  clear:  left;
}

.main-wrapper p {
  margin-left: 10px;
}

.chapter {
  background-color: #dced7e;
  margin-top: 0;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #97b1cd;
  padding: 5px 10px;
  box-shadow: 0px 5px #384247;
  opacity:  1;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.samurai-url {
  margin-right: 20px;
}

footer {
  width: 100%;
  color: white;
  background-color: #2b5f97;
  margin: 0;
  padding: 10px;
}

footer p {
  margin: 0;
}
